input[type=number]::-webkit-inner-spin-button
  appearance: none

input[type='number']
  border: 0
  color: #000
  font-size: 18px
  padding: 10px 20px
  text-align: center
  margin: 0 10px
  background-color: transparent
  font-weight: bold

  &:focus
    outline: none

