.stats
  text-align: center

.table
  display: table
  max-width: 300px
  margin: 40px auto
  font-size: 20px
  font-weight: bold

.table-head
  display: table-header-group

.table-foot
  display: table-footer-group

.table-row
  display: table-row

.table-col
  width: 200px
  display: table-cell
  border-bottom: 2px solid #000
  padding: 10px 0
