/* TYPOGRAPHY */

h1,
h2,
h3
  margin: 0
  font-weight: bold
  font-size: 16px
  text-transform: uppercase
  display: inline-block

.small
  font-size: 10px
  font-weight: normal

.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center
