/* TYPOGRAPHY */

h1,
h2,
h3
  margin: 0
  font-weight: bold
  font-size: 16px
  text-transform: uppercase

.small
  font-size: 10px
  font-weight: normal

dl
  font-family: var(--font-sans)

dl,
dt
  margin: 0
  padding: 0

dt
  display: inline-block
  float: left
  width: 50%

dd
  margin: 0 0 0 5px
  font-weight: 700
