@custom-media --phone (min-width: 544px)
@custom-media --tablet (min-width: 768px)
@custom-media --desktop (min-width: 960px)

:root
  --color-black: #000
  --color-gray: #000
  --color-1: #7EEFCC
  --color-2: #00A0FF
  --color-3: #FFEC57
  --color-4: #B8A6E4
  --color-text: #000
  --color-sitebg: var(--color-4)
  --color-accent: #FFEC57
  --font-sans: 'Rubik', system-ui, sans-serif
  --font-sans-alt: 'Rubik', system-ui, sans-serif
  --font-size: 16px
  --font-weight: 300
  --line-height: 1.5

